.left {
  float: left;
}

.right: {
  float: right;
}

#rt-top2 { 
  background: url("../images/overlays/top-overlay.png") repeat scroll 0 0 #f6f6f6;
  height: 90px;
}

#rt-logo span#logo-color {
  background-color: transparent;
}

html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-showcase div.rt-container div.rt-grid-12 div.nomarginall div.rt-block div.module-surround div.module-content div#rg-138.rokgallery-wrapper div.rg-ss-container div.rg-ss-slice-container {
  height: 295px!important;
}

body .rg-ss-slice-container {
  border-top: none!important;
}

body.bgstyle-textile-light .rt-container #rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container div.rt-grid-3 div.plain div.rt-block {
  Margin: 0px;
}


html body.bgstyle-wavy-lines-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container {
  /* height: 100px;*/
}

html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-showcase div.rt-container div.rt-grid-12 div.nomarginall div.rt-block div.module-surround div.module-content div#rg-138.rokgallery-wrapper div.rg-ss-container div.rg-ss-slice-container ul.rg-ss-slice-list li div.rg-ss-info span.rg-ss-title {
  font-size: 240%;  
}

html body div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container div.rt-grid-3 div.rt-block a#rt-logo span#logo-color {
  background-color: transparent;
}

html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-body-surround div.rt-container div#rt-utility div#rt-utility2 div.rt-grid-3 div.rt-block {
  margin: 0;
}

html body #rt-copyright {
  position: relative;
  bottom: 0;
  width: 100%;
}

html body #rt-copyright #developed-by {
  float: right;
}

/* -------------------- News and Events --------------------*/

