.left {
  float: left;
}

.right: {
  float: right;
}

#rt-top2 { 
  background: url("../images/overlays/top-overlay.png") repeat scroll 0 0 #f6f6f6;
  height: 105px;
}

#rt-logo span#logo-color {
  background-color: transparent;
}

html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-showcase div.rt-container div.rt-grid-12 div.nomarginall div.rt-block div.module-surround div.module-content div#rg-138.rokgallery-wrapper div.rg-ss-container div.rg-ss-slice-container {
  height: 295px!important;
}

body .rg-ss-slice-container {
  border-top: none!important;
}

body.bgstyle-textile-light .rt-container #rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container div.rt-grid-3 div.plain div.rt-block {
  Margin: 0px;
}

/*-------------------- Container -------------------- */
#rt-container-bg {
  background-color: #fff;
}

/* -------------------- Navigation -------------------- */

#rt-navigation .rt-container {
  background-color: #f6f6f6;
}

#rt-navigation .logo-block {
  margin: 10px 15px;
}

#rt-navigation .custom h1, #rt-navigation .custom h2 {
    color: #1E90BA;
    font-size: 2.3em;
    font-weight: normal;
    margin: 25px 0 0;
}

/* #rt-navigation, #rt-navigation .rt-container, .rt-fusionmenu, .rt-menubar, ul.menutop,*/ .rt-fusionmenu .nopill .rt-menubar ul.menutop li a {
   height: 40px;
   line-height: 40px;
}

#rt-navigation {
  border-top: 0;
  box-shadow: none;
}

.menutop > li.active, .menutop li.root:hover, .menutop li.f-mainparent-itemfocus, .menutop > li:hover{
  border-top: 4px solid #1E90BA;
}

#rt-container-bg div#rt-container-bg2 div#rt-navigation .rt-container .social .rt-block, #rt-container-bg div#rt-container-bg2 div#rt-navigation .rt-container .nav-menu .rt-block {
  margin: 0;
  padding: 0;
}

#rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container div.rt-grid-3 div.rt-block a#rt-logo span#logo-color {
  background-color: transparent;
}

#rt-navigation .rt-fusionmenu .rt-menubar {
  float: right;
}

#rt-container-bg div#rt-container-bg2 div#rt-navigation ul.floatright {
  list-style-type: none;
}

ul.floatright li {
  float: left;
}

/* -------------------- Showcase -------------------- */
#rt-showcase .rg-ss-info {
  text-shadow: none;
}

#rt-showcase .rg-ss-title {
  font-size: 240%;
  color: #fff;
  text-shadow: 1px 1px #23567f;
  background-color: rgba(30, 144, 186, 0.5);
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  padding: 8px 0 8px 8px;
}

#rt-showcase span.rg-ss-caption {
  background-image: none;
  border-radius: 0 0 10px 10px;
  color: #fff;
}

body .rg-ss-caption {
  background-color: none;
}

#rt-showcase span.rg-ss-caption p a, #rt-showcase span.rg-ss-caption p a:visited {
  color: #c98a21;
}

#rt-showcase span.rg-ss-caption p a:hover {
  color: #fff;
}

#rt-showcase .rg-ss-controls .next, #rt-showcase .rg-ss-controls .prev {
  background-image: none;
}


html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-body-surround div.rt-container div#rt-utility div#rt-utility2 div.rt-grid-3 div.rt-block {
  margin: 0;
}

html body #rt-copyright {
  position: relative;
  bottom: 0;
  width: 100%;
}

html body #rt-copyright #developed-by {
  float: right;
}

/* Pages */

/* Home */
.aidanews2_art {
  margin-bottom: 10px;
}

.aidanews2 .even {
  background-color: #f6f6f6!important;
}

.aidanews2 img {
  max-width: 102px;
  margin-bottom: 3px;
}

.aidanews2_botR {
  margin-bottom: 10px;
  margin-right: 5px;
}

/* -------------------- News and Events --------------------*/

body.news h1.title {
  margin: 0 0 5px;
}

/*-------------------- Register interest form --------------------*/
html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-body-surround div.rt-container div#rt-mainbottom div#rt-mainbottom2 div.rt-grid-12 div.rt-block div.module-surround div.module-content div.bfClearfix div {
}

.interest_form { 
  margin: 0 20px;
}

.bfNoSection h3 {
  margin: 0 0 5px;
}

#student_details, #parent_gardian_details, #left_contact_you, #right_contact_you {
  float: left;
  width: 430px;
}

textarea#ff_elem125.ff_elem { /* other info textarea */
  width: 460px;
  height: 130px;
}

button#bfSubmitButton.bfSubmitButton {
  float: left;
  clear: both;
}
