.left {
  float: left;
}

.right: {
  float: right;
}

#rt-top2 { 
  background: url("../images/overlays/top-overlay.png") repeat scroll 0 0 #f6f6f6;
  height: 105px;
}

#rt-logo span#logo-color {
  background-color: transparent;
}

html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-showcase div.rt-container div.rt-grid-12 div.nomarginall div.rt-block div.module-surround div.module-content div#rg-138.rokgallery-wrapper div.rg-ss-container div.rg-ss-slice-container {
  height: 295px!important;
}

body .rg-ss-slice-container {
  border-top: none!important;
}

body.bgstyle-textile-light .rt-container #rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container div.rt-grid-3 div.plain div.rt-block {
  Margin: 0px;
}

/* -------------------- Navigation -------------------- */

#rt-navigation .rt-container {
  background-color: #f6f6f6;
}

#rt-navigation .logo-block {
  margin: 10px 15px;
}

#rt-navigation .custom h1, #rt-navigation .custom h2 {
    color: #1E90BA;
    font-size: 2.3em;
    font-weight: normal;
    margin: 25px 0 0;
}

/* #rt-navigation, #rt-navigation .rt-container, .rt-fusionmenu, .rt-menubar, ul.menutop,*/ .rt-fusionmenu .nopill .rt-menubar ul.menutop li a {
   height: 40px;
   line-height: 40px;
}

#rt-navigation {
  border-top: 0;
  box-shadow: none;
}

.menutop > li.active, .menutop li.root:hover, .menutop li.f-mainparent-itemfocus, .menutop > li:hover{
  border-top: 4px solid #1E90BA;
}

#rt-container-bg div#rt-container-bg2 div#rt-navigation .rt-container .social .rt-block, #rt-container-bg div#rt-container-bg2 div#rt-navigation .rt-container .nav-menu .rt-block {
  margin: 0;
  padding: 0;
}

#rt-container-bg div#rt-container-bg2 div#rt-navigation div.rt-container div.rt-grid-3 div.rt-block a#rt-logo span#logo-color {
  background-color: transparent;
}

#rt-navigation .rt-fusionmenu .rt-menubar {
  float: right;
}

#rt-container-bg div#rt-container-bg2 div#rt-navigation ul.floatright {
  list-style-type: none;
}

ul.floatright li {
  float: left;
}

/* -------------------- Showcase -------------------- */

#rt-showcase .rg-ss-title {
  font-size: 240%;
  color: #15778b;
  text-shadow: 1px 1px #23567f;
}

#rt-showcase span.rg-ss-caption {
  background-image: none;
  border-radius: 5px;
  color: #222;
}

#rt-showcase .rg-ss-controls .next, #rt-showcase .rg-ss-controls .prev {
  background-image: none;
}


html body.bgstyle-textile-light div.rt-container div#rt-container-bg div#rt-container-bg2 div#rt-transition div#rt-main-container div#rt-body-surround div.rt-container div#rt-utility div#rt-utility2 div.rt-grid-3 div.rt-block {
  margin: 0;
}

html body #rt-copyright {
  position: relative;
  bottom: 0;
  width: 100%;
}

html body #rt-copyright #developed-by {
  float: right;
}

/* -------------------- News and Events --------------------*/

body.news h1.title {
  margin: 0 0 5px;
}
